# Python cache
__pycache__/
*.pyc

# Environments
.venv/
.env
*.env

# Docker
dbdata/
*.pid
*.log

# Node
node_modules/
build/
dist/

# OS & IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Misc
.env.*
*.sqlite3
